/* فونت‌های ایموجی رنگی در سیستم‌های مختلف */
.emoji-flag{
  font-family: inherit, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
               "EmojiOne Color", "Twemoji Mozilla", sans-serif;
  font-variant-emoji: emoji; /* برای مرورگرهایی که پشتیبانی می‌کنند */
  line-height: 1;
}
